<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center" style="padding: 20px;">
                <h3>Login</h3>
                <br>
                <form [formGroup]="login" autocomplete="off" (ngSubmit)="log()">
                    <div class="form-group" style="text-align: start;">
                        <input type="text" class="form-control" formControlName="usuario" placeholder="Usuario" [class.is-valid]="usuarioValido" [class.is-invalid]="usuarioNoValido">
                        <span class="text-danger" *ngIf="usuarioNoValido">El usuario <strong> es requerido</strong> </span>
                    </div>
                    <div class="form-group" style="text-align: start;">
                        <input type="password" class="form-control" formControlName="password" placeholder="Contraseña" [class.is-valid]="passValido" [class.is-invalid]="passNoValido">
                        <span class="text-danger" *ngIf="passNoValido">La contraseña <strong> es requerida</strong> </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-login mr-2" [disabled]="login.invalid">Aceptar</button>
                        <button class="btn btn-secondary" routerLink="/">Volver</button>
                    </div>
                    <div class="form-group">
                        <a style="color: #F05F44; cursor: pointer;" routerLink="/register">Crear Cuenta</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
