<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">Cambiar Contraseña</h3>
        <form [formGroup]="cambiarPassword" (ngSubmit)="guardarPassword()">
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="passwordAnterior" [class.is-valid]="passwordAnteriorValido" [class.is-invalid]="passwordAnteriorNoValido">
                <span class="text-danger" *ngIf="passwordAnteriorNoValido">La contraseña anterior<strong> es requerida</strong> </span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Nueva Contraseña" formControlName="nuevaPassword" [class.is-valid]="nuevaPasswordValida" [class.is-invalid]="nuevaPasswordNoValidaLength">
                <span class="text-danger" *ngIf="nuevaPasswordNoValidaLength">La contraseña debe tener como minimo 4 caracteres <strong>es requerida</strong></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="confirmPassword" [class.is-valid]="confirmPasswordValido" [class.is-invalid]="confirmPasswordNoCoinciden">
                <span class="text-danger" *ngIf="confirmPasswordNoCoinciden" >Password <strong>no coinciden</strong></span>
            </div>
            <div class="col text-center">
                <button class="btn btn-primary mr-2 btn-acept" [disabled]="cambiarPassword.invalid">Aceptar</button>
                <button class="btn btn-secondary" routerLink="/dashboard">Volver</button>
            </div>
        </form>
    </div>
</div>